sagemaker>=2.219.0
scikit-learn==1.2.1
s3fs
mlflow==2.17.0
sagemaker-mlflow
numpy
scipy==1.12.0
pandas
xgboost
boto3
joblib==1.2.0
# # --- core ML ---
# numpy<2.0
# scipy==1.10.1
# scikit-learn==1.2.1

# # --- ML pipeline / tracking ---
# pandas>=1.5,<2.2
# xgboost>=1.7,<2.1
# mlflow==2.17.0
# sagemaker==2.219.0
# sagemaker-mlflow

# # --- I/O ---
# boto3
# s3fs
# joblib

# # --- utils ---
# pyyaml
# tqdm

# protobuf==3.20.3
# markupsafe==2.0.1
# jinja2==3.0.3
# cloudpickle==2.2.1
